<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>limits</key>
	<array>
		<dict>
			<key>title</key>
			<string>Full Text, Free Full Text, and Abstracts</string>
			<key>type</key>
			<string>sb</string>
			<key>groupOP</key>
			<string>AND</string>
			<key>items</key>
			<array>
				<dict>
					<key>title</key>
					<string>Links to full text</string>
					<key>tag</key>
					<string>loattrfull+text</string>
					<key>selected</key>
					<false/>
				</dict>
				<dict>
					<key>title</key>
					<string>Links to free full text</string>
					<key>tag</key>
					<string>loattrfree+full+text</string>
					<key>selected</key>
					<false/>
				</dict>
				<dict>
					<key>title</key>
					<string>Abstracts</string>
					<key>tag</key>
					<string>hasabstract</string>
					<key>type</key>
					<string>text</string>
					<key>selected</key>
					<false/>
				</dict>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>Humans or Animals</string>
			<key>type</key>
			<string>MeSH</string>
			<key>items</key>
			<array>
				<dict>
					<key>title</key>
					<string>Humans</string>
					<key>tag</key>
					<string>humans</string>
					<key>selected</key>
					<false/>
				</dict>
				<dict>
					<key>title</key>
					<string>Animals</string>
					<key>tag</key>
					<string>animals</string>
					<key>selected</key>
					<false/>
				</dict>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>Gender</string>
			<key>type</key>
			<string>MeSH</string>
			<key>items</key>
			<array>
				<dict>
					<key>title</key>
					<string>Male</string>
					<key>tag</key>
					<string>male</string>
					<key>selected</key>
					<false/>
				</dict>
				<dict>
					<key>title</key>
					<string>Female</string>
					<key>tag</key>
					<string>female</string>
					<key>selected</key>
					<false/>
				</dict>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>Type of Article</string>
			<key>type</key>
			<string>ptyp</string>
			<key>items</key>
			<array>
				<dict>
					<key>title</key>
					<string>Clinical Trial</string>
					<key>selected</key>
					<false/>
				</dict>
				<dict>
					<key>title</key>
					<string>Editorial</string>
					<key>selected</key>
					<false/>
				</dict>
				<dict>
					<key>title</key>
					<string>Letter</string>
					<key>selected</key>
					<false/>
				</dict>
				<dict>
					<key>title</key>
					<string>Meta-Analysis</string>
					<key>selected</key>
					<false/>
				</dict>
				<dict>
					<key>title</key>
					<string>Practice Guideline</string>
					<key>selected</key>
					<false/>
				</dict>
				<dict>
					<key>title</key>
					<string>Randomized Controlled Trial</string>
					<key>selected</key>
					<false/>
				</dict>
				<dict>
					<key>title</key>
					<string>Review</string>
					<key>selected</key>
					<false/>
				</dict>
				<dict>
					<key>title</key>
					<string>Addresses</string>
					<key>selected</key>
					<false/>
				</dict>
				<dict>
					<key>title</key>
					<string>Bibliography</string>
					<key>selected</key>
					<false/>
				</dict>
				<dict>
					<key>title</key>
					<string>Biography</string>
					<key>selected</key>
					<false/>
				</dict>
				<dict>
					<key>title</key>
					<string>Case Reports</string>
					<key>selected</key>
					<false/>
				</dict>
				<dict>
					<key>title</key>
					<string>Classical Article</string>
					<key>selected</key>
					<false/>
				</dict>
				<dict>
					<key>title</key>
					<string>Clinical Conference</string>
					<key>selected</key>
					<false/>
				</dict>
				<dict>
					<key>title</key>
					<string>Clinical Trial, Phase I</string>
					<key>selected</key>
					<false/>
				</dict>
				<dict>
					<key>title</key>
					<string>Clinical Trial, Phase II</string>
					<key>selected</key>
					<false/>
				</dict>
				<dict>
					<key>title</key>
					<string>Clinical Trial, Phase III</string>
					<key>selected</key>
					<false/>
				</dict>
				<dict>
					<key>title</key>
					<string>Clinical Trial, Phase IV</string>
					<key>selected</key>
					<false/>
				</dict>
				<dict>
					<key>title</key>
					<string>Comment</string>
					<key>selected</key>
					<false/>
				</dict>
				<dict>
					<key>title</key>
					<string>Congresses</string>
					<key>selected</key>
					<false/>
				</dict>
				<dict>
					<key>title</key>
					<string>Comparative Study</string>
					<key>selected</key>
					<false/>
				</dict>
				<dict>
					<key>title</key>
					<string>Consensus Development Conference</string>
					<key>selected</key>
					<false/>
				</dict>
				<dict>
					<key>title</key>
					<string>Consensus Development Conference, NIH</string>
					<key>selected</key>
					<false/>
				</dict>
				<dict>
					<key>title</key>
					<string>Controlled Clinical Trial</string>
					<key>selected</key>
					<false/>
				</dict>
				<dict>
					<key>title</key>
					<string>Corrected and Republished Article</string>
					<key>selected</key>
					<false/>
				</dict>
				<dict>
					<key>title</key>
					<string>Dictionary</string>
					<key>selected</key>
					<false/>
				</dict>
				<dict>
					<key>title</key>
					<string>Directory</string>
					<key>selected</key>
					<false/>
				</dict>
				<dict>
					<key>title</key>
					<string>Duplicate Publication</string>
					<key>selected</key>
					<false/>
				</dict>
				<dict>
					<key>title</key>
					<string>English Abstract</string>
					<key>selected</key>
					<false/>
				</dict>
				<dict>
					<key>title</key>
					<string>Evaluation Studies</string>
					<key>selected</key>
					<false/>
				</dict>
				<dict>
					<key>title</key>
					<string>Festschrift</string>
					<key>selected</key>
					<false/>
				</dict>
				<dict>
					<key>title</key>
					<string>Government Publications</string>
					<key>selected</key>
					<false/>
				</dict>
				<dict>
					<key>title</key>
					<string>Guideline</string>
					<key>selected</key>
					<false/>
				</dict>
				<dict>
					<key>title</key>
					<string>Historical Article</string>
					<key>selected</key>
					<false/>
				</dict>
				<dict>
					<key>title</key>
					<string>Interactive Tutorial</string>
					<key>selected</key>
					<false/>
				</dict>
				<dict>
					<key>title</key>
					<string>Interview</string>
					<key>selected</key>
					<false/>
				</dict>
				<dict>
					<key>title</key>
					<string>Introductory Journal Article</string>
					<key>selected</key>
					<false/>
				</dict>
				<dict>
					<key>title</key>
					<string>In Vitro</string>
					<key>selected</key>
					<false/>
				</dict>
				<dict>
					<key>title</key>
					<string>Journal Article</string>
					<key>selected</key>
					<false/>
				</dict>
				<dict>
					<key>title</key>
					<string>Lectures</string>
					<key>selected</key>
					<false/>
				</dict>
				<dict>
					<key>title</key>
					<string>Legal Cases</string>
					<key>selected</key>
					<false/>
				</dict>
				<dict>
					<key>title</key>
					<string>Legislation</string>
					<key>selected</key>
					<false/>
				</dict>
				<dict>
					<key>title</key>
					<string>Multicenter Study</string>
					<key>selected</key>
					<false/>
				</dict>
				<dict>
					<key>title</key>
					<string>News</string>
					<key>selected</key>
					<false/>
				</dict>
				<dict>
					<key>title</key>
					<string>Newspaper Article</string>
					<key>selected</key>
					<false/>
				</dict>
				<dict>
					<key>title</key>
					<string>Overall</string>
					<key>selected</key>
					<false/>
				</dict>
				<dict>
					<key>title</key>
					<string>Patient Education Handout</string>
					<key>selected</key>
					<false/>
				</dict>
				<dict>
					<key>title</key>
					<string>Periodical Index</string>
					<key>selected</key>
					<false/>
				</dict>
				<dict>
					<key>title</key>
					<string>Portraits</string>
					<key>selected</key>
					<false/>
				</dict>
				<dict>
					<key>title</key>
					<string>Published Erratum</string>
					<key>selected</key>
					<false/>
				</dict>
				<dict>
					<key>title</key>
					<string>Research Support, N.I.H., Extramural</string>
					<key>selected</key>
					<false/>
				</dict>
				<dict>
					<key>title</key>
					<string>Research Support, N.I.H., Intramural</string>
					<key>selected</key>
					<false/>
				</dict>
				<dict>
					<key>title</key>
					<string>Research Support, Non-U.S. Gov&apos;t</string>
					<key>selected</key>
					<false/>
				</dict>
				<dict>
					<key>title</key>
					<string>Research Support, U.S. Gov&apos;t, Non-P.H.S.</string>
					<key>selected</key>
					<false/>
				</dict>
				<dict>
					<key>title</key>
					<string>Research Support, U.S. Gov&apos;t, P.H.S.</string>
					<key>selected</key>
					<false/>
				</dict>
				<dict>
					<key>title</key>
					<string>Retracted Publication</string>
					<key>selected</key>
					<false/>
				</dict>
				<dict>
					<key>title</key>
					<string>Retraction of Publication</string>
					<key>selected</key>
					<false/>
				</dict>
				<dict>
					<key>title</key>
					<string>Scientific Integrity Review</string>
					<key>selected</key>
					<false/>
				</dict>
				<dict>
					<key>title</key>
					<string>Technical Report</string>
					<key>selected</key>
					<false/>
				</dict>
				<dict>
					<key>title</key>
					<string>Twin Study</string>
					<key>selected</key>
					<false/>
				</dict>
				<dict>
					<key>title</key>
					<string>Validation Studies</string>
					<key>selected</key>
					<false/>
				</dict>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>Languages</string>
			<key>type</key>
			<string>lang</string>
			<key>items</key>
			<array>
				<dict>
					<key>title</key>
					<string>English</string>
					<key>selected</key>
					<false/>
				</dict>
				<dict>
					<key>title</key>
					<string>French</string>
					<key>selected</key>
					<false/>
				</dict>
				<dict>
					<key>title</key>
					<string>German</string>
					<key>selected</key>
					<false/>
				</dict>
				<dict>
					<key>title</key>
					<string>Italian</string>
					<key>selected</key>
					<false/>
				</dict>
				<dict>
					<key>title</key>
					<string>Japanese</string>
					<key>selected</key>
					<false/>
				</dict>
				<dict>
					<key>title</key>
					<string>Russian</string>
					<key>selected</key>
					<false/>
				</dict>
				<dict>
					<key>title</key>
					<string>Spanish</string>
					<key>selected</key>
					<false/>
				</dict>
				<dict>
					<key>title</key>
					<string>Afrikaans</string>
					<key>selected</key>
					<false/>
				</dict>
				<dict>
					<key>title</key>
					<string>Albanian</string>
					<key>selected</key>
					<false/>
				</dict>
				<dict>
					<key>title</key>
					<string>Arabic</string>
					<key>selected</key>
					<false/>
				</dict>
				<dict>
					<key>title</key>
					<string>Armenian</string>
					<key>selected</key>
					<false/>
				</dict>
				<dict>
					<key>title</key>
					<string>Azerbaijani</string>
					<key>selected</key>
					<false/>
				</dict>
				<dict>
					<key>title</key>
					<string>Bosnian</string>
					<key>selected</key>
					<false/>
				</dict>
				<dict>
					<key>title</key>
					<string>Bulgarian</string>
					<key>selected</key>
					<false/>
				</dict>
				<dict>
					<key>title</key>
					<string>Catalan</string>
					<key>selected</key>
					<false/>
				</dict>
				<dict>
					<key>title</key>
					<string>Chinese</string>
					<key>selected</key>
					<false/>
				</dict>
				<dict>
					<key>title</key>
					<string>Croatian</string>
					<key>selected</key>
					<false/>
				</dict>
				<dict>
					<key>title</key>
					<string>Czech</string>
					<key>selected</key>
					<false/>
				</dict>
				<dict>
					<key>title</key>
					<string>Danish</string>
					<key>selected</key>
					<false/>
				</dict>
				<dict>
					<key>title</key>
					<string>Dutch</string>
					<key>selected</key>
					<false/>
				</dict>
				<dict>
					<key>title</key>
					<string>Esperanto</string>
					<key>selected</key>
					<false/>
				</dict>
				<dict>
					<key>title</key>
					<string>Estonian</string>
					<key>selected</key>
					<false/>
				</dict>
				<dict>
					<key>title</key>
					<string>Finnish</string>
					<key>selected</key>
					<false/>
				</dict>
				<dict>
					<key>title</key>
					<string>Georgian</string>
					<key>selected</key>
					<false/>
				</dict>
				<dict>
					<key>title</key>
					<string>Greek, Modern</string>
					<key>selected</key>
					<false/>
				</dict>
				<dict>
					<key>title</key>
					<string>Hebrew</string>
					<key>selected</key>
					<false/>
				</dict>
				<dict>
					<key>title</key>
					<string>Hindi</string>
					<key>selected</key>
					<false/>
				</dict>
				<dict>
					<key>title</key>
					<string>Hungarian</string>
					<key>selected</key>
					<false/>
				</dict>
				<dict>
					<key>title</key>
					<string>Icelandic</string>
					<key>selected</key>
					<false/>
				</dict>
				<dict>
					<key>title</key>
					<string>Indonesian</string>
					<key>selected</key>
					<false/>
				</dict>
				<dict>
					<key>title</key>
					<string>Kinyarwanda</string>
					<key>selected</key>
					<false/>
				</dict>
				<dict>
					<key>title</key>
					<string>Korean</string>
					<key>selected</key>
					<false/>
				</dict>
				<dict>
					<key>title</key>
					<string>Latin</string>
					<key>selected</key>
					<false/>
				</dict>
				<dict>
					<key>title</key>
					<string>Latvian</string>
					<key>selected</key>
					<false/>
				</dict>
				<dict>
					<key>title</key>
					<string>Macedonian</string>
					<key>selected</key>
					<false/>
				</dict>
				<dict>
					<key>title</key>
					<string>Malay</string>
					<key>selected</key>
					<false/>
				</dict>
				<dict>
					<key>title</key>
					<string>Malayalam</string>
					<key>selected</key>
					<false/>
				</dict>
				<dict>
					<key>title</key>
					<string>Maori</string>
					<key>selected</key>
					<false/>
				</dict>
				<dict>
					<key>title</key>
					<string>Multiple Languages</string>
					<key>selected</key>
					<false/>
				</dict>
				<dict>
					<key>title</key>
					<string>Norwegian</string>
					<key>selected</key>
					<false/>
				</dict>
				<dict>
					<key>title</key>
					<string>Persian</string>
					<key>selected</key>
					<false/>
				</dict>
				<dict>
					<key>title</key>
					<string>Polish</string>
					<key>selected</key>
					<false/>
				</dict>
				<dict>
					<key>title</key>
					<string>Portuguese</string>
					<key>selected</key>
					<false/>
				</dict>
				<dict>
					<key>title</key>
					<string>Pushto</string>
					<key>selected</key>
					<false/>
				</dict>
				<dict>
					<key>title</key>
					<string>Romanian</string>
					<key>selected</key>
					<false/>
				</dict>
				<dict>
					<key>title</key>
					<string>Sanskrit</string>
					<key>selected</key>
					<false/>
				</dict>
				<dict>
					<key>title</key>
					<string>Scottish gaelic</string>
					<key>selected</key>
					<false/>
				</dict>
				<dict>
					<key>title</key>
					<string>Serbian</string>
					<key>selected</key>
					<false/>
				</dict>
				<dict>
					<key>title</key>
					<string>Slovak</string>
					<key>selected</key>
					<false/>
				</dict>
				<dict>
					<key>title</key>
					<string>Slovenian</string>
					<key>selected</key>
					<false/>
				</dict>
				<dict>
					<key>title</key>
					<string>Swedish</string>
					<key>selected</key>
					<false/>
				</dict>
				<dict>
					<key>title</key>
					<string>Thai</string>
					<key>selected</key>
					<false/>
				</dict>
				<dict>
					<key>title</key>
					<string>Turkish</string>
					<key>selected</key>
					<false/>
				</dict>
				<dict>
					<key>title</key>
					<string>Ukrainian</string>
					<key>selected</key>
					<false/>
				</dict>
				<dict>
					<key>title</key>
					<string>Undetermined</string>
					<key>selected</key>
					<false/>
				</dict>
				<dict>
					<key>title</key>
					<string>Vietnamese</string>
					<key>selected</key>
					<false/>
				</dict>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>Subsets</string>
			<key>type</key>
			<string>sb</string>
			<key>items</key>
			<array>
				<dict>
					<key>title</key>
					<string>Core clinical journals</string>
					<key>tag</key>
					<string>jsubsetaim</string>
					<key>type</key>
					<string>text</string>
					<key>selected</key>
					<false/>
				</dict>
				<dict>
					<key>title</key>
					<string>Dental journals</string>
					<key>tag</key>
					<string>jsubsetd</string>
					<key>type</key>
					<string>text</string>
					<key>selected</key>
					<false/>
				</dict>
				<dict>
					<key>title</key>
					<string>Nursing journals</string>
					<key>tag</key>
					<string>jsubsetn</string>
					<key>type</key>
					<string>text</string>
					<key>selected</key>
					<false/>
				</dict>
				<dict>
					<key>title</key>
					<string>AIDS</string>
					<key>tag</key>
					<string>AIDS</string>
					<key>selected</key>
					<false/>
				</dict>
				<dict>
					<key>title</key>
					<string>Bioethics</string>
					<key>tag</key>
					<string>bioethics</string>
					<key>selected</key>
					<false/>
				</dict>
				<dict>
					<key>title</key>
					<string>Cancer</string>
					<key>tag</key>
					<string>cancer</string>
					<key>selected</key>
					<false/>
				</dict>
				<dict>
					<key>title</key>
					<string>Complementary Medicine</string>
					<key>tag</key>
					<string>cam</string>
					<key>selected</key>
					<false/>
				</dict>
				<dict>
					<key>title</key>
					<string>History of Medicine</string>
					<key>tag</key>
					<string>history</string>
					<key>selected</key>
					<false/>
				</dict>
				<dict>
					<key>title</key>
					<string>Space Life Sciences</string>
					<key>tag</key>
					<string>space</string>
					<key>selected</key>
					<false/>
				</dict>
				<dict>
					<key>title</key>
					<string>Systematic Reviews</string>
					<key>tag</key>
					<string>systematic</string>
					<key>selected</key>
					<false/>
				</dict>
				<dict>
					<key>title</key>
					<string>Toxicology</string>
					<key>tag</key>
					<string>tox</string>
					<key>selected</key>
					<false/>
				</dict>
				<dict>
					<key>title</key>
					<string>MEDLINE</string>
					<key>tag</key>
					<string>medline</string>
					<key>selected</key>
					<false/>
				</dict>
				<dict>
					<key>title</key>
					<string>PubMed Central</string>
					<key>tag</key>
					<string>pubmed pmc local</string>
					<key>selected</key>
					<false/>
				</dict>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>Ages</string>
			<key>type</key>
			<string>MeSH</string>
			<key>items</key>
			<array>
				<dict>
					<key>title</key>
					<string>All Infant: birth-23 months</string>
					<key>tag</key>
					<string>infant</string>
					<key>selected</key>
					<false/>
				</dict>
				<dict>
					<key>title</key>
					<string>All Child: 0-18 years</string>
					<key>tag</key>
					<array>
						<string>infant</string>
						<string>child</string>
						<string>adolescent</string>
					</array>
					<key>selected</key>
					<false/>
				</dict>
				<dict>
					<key>title</key>
					<string>All Adult: 19+ years</string>
					<key>tag</key>
					<string>adult</string>
					<key>selected</key>
					<false/>
				</dict>
				<dict>
					<key>title</key>
					<string>Newborn: birth-1 month</string>
					<key>tag</key>
					<string>infant,newborn</string>
					<key>selected</key>
					<false/>
				</dict>
				<dict>
					<key>title</key>
					<string>Infant: 1-23 months</string>
					<key>tag</key>
					<string>infant</string>
					<key>type</key>
					<string>MeSH:noexp</string>
					<key>selected</key>
					<false/>
				</dict>
				<dict>
					<key>title</key>
					<string>Preschool Child: 2-5 years</string>
					<key>tag</key>
					<string>child,preschool</string>
					<key>selected</key>
					<false/>
				</dict>
				<dict>
					<key>title</key>
					<string>Child: 6-12 years</string>
					<key>tag</key>
					<string>child</string>
					<key>type</key>
					<string>MeSH:noexp</string>
					<key>selected</key>
					<false/>
				</dict>
				<dict>
					<key>title</key>
					<string>Adolescent: 13-18 years</string>
					<key>tag</key>
					<string>adolescent</string>
					<key>selected</key>
					<false/>
				</dict>
				<dict>
					<key>title</key>
					<string>Adult: 19-44 years</string>
					<key>tag</key>
					<array>
						<string>adult</string>
						<string>young+adult</string>
					</array>
					<key>type</key>
					<string>MeSH:noexp</string>
					<key>selected</key>
					<false/>
				</dict>
				<dict>
					<key>title</key>
					<string>Middle Aged: 45-64 years</string>
					<key>tag</key>
					<string>middle+aged</string>
					<key>selected</key>
					<false/>
				</dict>
				<dict>
					<key>title</key>
					<string>Middle Aged + Aged: 45+ years</string>
					<key>tag</key>
					<array>
						<string>middle+aged</string>
						<string>aged</string>
					</array>
					<key>selected</key>
					<false/>
				</dict>
				<dict>
					<key>title</key>
					<string>Aged: 65+ years</string>
					<key>tag</key>
					<string>aged</string>
					<key>selected</key>
					<false/>
				</dict>
				<dict>
					<key>title</key>
					<string>80 and over: 80+ years</string>
					<key>tag</key>
					<array>
						<string>aged</string>
						<string>aged,+80+and+over</string>
					</array>
					<key>selected</key>
					<false/>
				</dict>
			</array>
		</dict>
	</array>
	<key>searchFields</key>
	<array>
		<dict>
			<key>description</key>
			<string>Affiliation</string>
			<key>tag</key>
			<string>AD</string>
		</dict>
		<dict>
			<key>description</key>
			<string>Article Identifier</string>
			<key>tag</key>
			<string>AID</string>
		</dict>
		<dict>
			<key>description</key>
			<string>All Fields</string>
			<key>tag</key>
			<string>ALL</string>
		</dict>
		<dict>
			<key>description</key>
			<string>Author</string>
			<key>tag</key>
			<string>AU</string>
		</dict>
		<dict>
			<key>description</key>
			<string>Corporate Author</string>
			<key>tag</key>
			<string>CN</string>
		</dict>
		<dict>
			<key>description</key>
			<string>Create Date</string>
			<key>tag</key>
			<string>CRDT</string>
		</dict>
		<dict>
			<key>description</key>
			<string>EC/RN Number</string>
			<key>tag</key>
			<string>RN</string>
		</dict>
		<dict>
			<key>description</key>
			<string>Entrez Date</string>
			<key>tag</key>
			<string>EDAT</string>
		</dict>
		<dict>
			<key>description</key>
			<string>Filter</string>
			<key>tag</key>
			<string>FILTER</string>
		</dict>
		<dict>
			<key>description</key>
			<string>First Author</string>
			<key>tag</key>
			<string>1AU</string>
		</dict>
		<dict>
			<key>description</key>
			<string>Full Author Name</string>
			<key>tag</key>
			<string>FAU</string>
		</dict>
		<dict>
			<key>description</key>
			<string>Full Investigator Name</string>
			<key>tag</key>
			<string>FIR</string>
		</dict>
		<dict>
			<key>description</key>
			<string>Grant Number</string>
			<key>tag</key>
			<string>GR</string>
		</dict>
		<dict>
			<key>description</key>
			<string>Investigator</string>
			<key>tag</key>
			<string>IR</string>
		</dict>
		<dict>
			<key>description</key>
			<string>Issue</string>
			<key>tag</key>
			<string>IP</string>
		</dict>
		<dict>
			<key>description</key>
			<string>Journal Title</string>
			<key>tag</key>
			<string>TA</string>
		</dict>
		<dict>
			<key>description</key>
			<string>Language</string>
			<key>tag</key>
			<string>LA</string>
		</dict>
		<dict>
			<key>description</key>
			<string>Last Author</string>
			<key>tag</key>
			<string>LASTAU</string>
		</dict>
		<dict>
			<key>description</key>
			<string>Location ID</string>
			<key>tag</key>
			<string>LID</string>
		</dict>
		<dict>
			<key>description</key>
			<string>MeSH Date</string>
			<key>tag</key>
			<string>MHDA</string>
		</dict>
		<dict>
			<key>description</key>
			<string>MeSH Major Topic</string>
			<key>tag</key>
			<string>MAJR</string>
		</dict>
		<dict>
			<key>description</key>
			<string>MeSH Subheading</string>
			<key>tag</key>
			<string>SH</string>
		</dict>
		<dict>
			<key>description</key>
			<string>MeSH Terms</string>
			<key>tag</key>
			<string>MH</string>
		</dict>
		<dict>
			<key>description</key>
			<string>NLM Unique ID</string>
			<key>tag</key>
			<string>JID</string>
		</dict>
		<dict>
			<key>description</key>
			<string>Pagination</string>
			<key>tag</key>
			<string>PG</string>
		</dict>
		<dict>
			<key>description</key>
			<string>Pharmacological Action</string>
			<key>tag</key>
			<string>PA</string>
		</dict>
		<dict>
			<key>description</key>
			<string>Publication Date</string>
			<key>tag</key>
			<string>DP</string>
		</dict>
		<dict>
			<key>description</key>
			<string>Publication Type</string>
			<key>tag</key>
			<string>PT</string>
		</dict>
		<dict>
			<key>description</key>
			<string>Secondary Source ID</string>
			<key>tag</key>
			<string>SI</string>
		</dict>
		<dict>
			<key>description</key>
			<string>Substance Name</string>
			<key>tag</key>
			<string>NM</string>
		</dict>
		<dict>
			<key>description</key>
			<string>Text Word</string>
			<key>tag</key>
			<string>TW</string>
		</dict>
		<dict>
			<key>description</key>
			<string>Title</string>
			<key>tag</key>
			<string>TI</string>
		</dict>
		<dict>
			<key>description</key>
			<string>Title/Abstract</string>
			<key>tag</key>
			<string>TIAB</string>
		</dict>
		<dict>
			<key>description</key>
			<string>Transliterated Title</string>
			<key>tag</key>
			<string>TT</string>
		</dict>
		<dict>
			<key>description</key>
			<string>Volume</string>
			<key>tag</key>
			<string>VI</string>
		</dict>
	</array>
</dict>
</plist>
